<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/AboutStyle.css">
    <title>Coffee-19: About Us</title>
</head>
<body>
    <header class="head">
        <div class="head2">
            <img src="/Asset/logo.png" class="logo" alt="image">

            <div class="navbar">
                <a href="/index.html" class="one">HOME</a>
                <a href="Menu.html" class="two">COFEE</a>
                <a href="Event.html" class="three">EVENTS</a>
                <a href="#" class="four">PROMO</a>
            </div>

            <a href="Register.html"><img src="/Asset/profile.jpg" class="profile" alt="image"></a>
        </div>
    </header>

    <p class="title">About Us</p>

    <p class="text">&nbsp Dibuat oleh 3 pendiri:&nbsp  William Thaddeus,&nbsp Axel Nathaniel Budiraharjo,&nbsp dan Nabil Rafi Sukri Mappeabang pada 9 Maret 2023 secara daring dengan ide besar. Awal mula terbentuknya Coffee-19's Coffee dikarenakan adanya gap antara harga, kualitas, dan alat pembuat kopi yang menimbulkan keresahan bagi kami berdua untuk menikmati kopi. Bagi kami, kopi bukan sekedar biji kopi yang dihaluskan dengan air, melainkan seni untuk menciptakan cita rasa yang masuk ke setiap pelanggan.</p>
    <p class="text">&nbsp Coffee-19 diciptakan dalam 2 sisi, yaitu sisi kopi dan sisi pasar. Kopi yang diseduh di Coffee-19 bukan sekedar menambahkan air pada bubuk kopi, namun inovasi kami membuat kopi dengan seni yang menyesuaikan dengan selera pelanggan sehingga cita rasa kopi tidak konstan dari satu sudut pandang saja. Pasar yang kami lihat juga sangat besar karena kopi sudah menjadi bagian dari kebutuhan pokok banyak orang, oleh karena itu diantara semua kedai kopi kami berusaha memberikan sesuatu yang berbeda untuk pelanggan.</p>

    <p class="title2">Types of beans we use</p>

    <center>
    <img src="/Asset/liberica.jpg" class="liberica" alt="image">
    <img src="/Asset/robusta.jpg" class="robusta" alt="image">
    </center>

    <center class="positioning">
        <img src="/Asset/arabica.jpg" class="arabica" alt="image">
        <img src="/Asset/excelsa.jpg" class="excelsa" alt="image">
    </center>

    <p class="title2">Team</p>

    <center><div class="founderbox">
        <img src="/Asset/william.jpg" class="photo" alt="image">
        <p class="name">William Thaddeus</p>
        <p class="role">Founder</p>
    </div></center>
    <center><div class="cofounderbox">
        <img src="/Asset/axel.jpg" class="photo" alt="image">
        <p class="name">Axel Nathaniel Budiraharjo</p>
        <p class="role">Co-Founder</p>
    </div></center>

    <center><div class="cofounderbox1">
        <img src="/Asset/nabil.jpg" class="photo" alt="image">
        <p class="name">Nabil Rafi S.M</p>
        <p class="role">Co-Founder</p>
    </div></center>

    <div class="distance"></div>

    <footer class="foot">
        <div class="foot2">
            <div class="footertext1">
                <a href="About.html" class="bottomlink">About Us</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Store Locations</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">News</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Carrers</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Privacy Policy</a>
            </div>

            <p class="copyright">© 2023 Coffee-19 Company, All Rights Reserved.</p>

            <img src="/Asset/logo.png" class="logo2" alt="image">
        </div>
    </footer>
    
</body>
</html>