<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/EventStyle.css">
    <title>Coffee-19: Event</title>
</head>
<body>
    <header class="head">
        <div class="head2">
            <img src="/Asset/logo.png" class="logo" alt="image">

            <div class="navbar">
                <a href="/index.html" class="one">HOME</a>
                <a href="Menu.html" class="two">COFEE</a>
                <a href="Event.html" class="three">EVENTS</a>
                <a href="#" class="four">PROMO</a>
            </div>

            <a href="Register.html"><img src="/Asset/profile.jpg" class="profile" alt="image"></a>
        </div>
    </header>

    <p class="title">Events</p>

    <div class="distance"></div>

    <img src="/Asset/banner.jpg" class="banner" alt="image">

    <p class="promotitle">Today</p>
    <a href="#"><center><div class="bannerbox">
        <p class="promotitle1">BIG SALE</p>
        <p class="promotitle2">Up to 75%</p>
        <p class="promotitle3">until 9 October 2023</p>
        <img src="/Asset/promo.png" class="promo" alt="image">
    </div></center></a>

    <div class="distance1"></div>

    <img src="/Asset/banner.jpg" class="banner" alt="image">
    <p class="promotitle">22 June 2023</p>
    <a href="#"><center><div class="bannerbox">
        <p class="promotitle1">COFEE INTERNATIONAL DAY</p>
        <p class="promotitle2">50% - 75%</p>
        <p class="promotitle3">for every drink</p>
        <img src="/Asset/cofeeday.png" class="promo1" alt="image">
    </div></center></a>

    <div class="distance1"></div>

    <img src="/Asset/banner.jpg" class="banner" alt="image">
    <p class="promotitle">12 July 2023</p>
    <a href="#"><center><div class="bannerbox">
        <p class="promotitle1">EASTER DAY</p>
        <p class="promotitle2">find the egg</p>
        <p class="promotitle3">and get the discount</p>
        <img src="/Asset/easter.png" class="promo1" alt="image">
    </div></center></a>

    <div class="distance1"></div>

    <footer class="foot">
        <div class="foot2">
            <div class="footertext1">
                <a href="About.html" class="bottomlink">About Us</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Store Locations</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">News</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Carrers</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Privacy Policy</a>
            </div>

            <p class="copyright">© 2023 Coffee-19 Company, All Rights Reserved.</p>

            <img src="/Asset/logo.png" class="logo2" alt="image">
        </div>
    </footer>
    
</body>
</html>