<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/MenuStyle.css">
    <title>Coffee-19: Menu</title>
</head>
<body>
    <header class="head">
        <div class="head2">
            <img src="/Asset/logo.png" class="logo" alt="image">

            <div class="navbar">
                <a href="/index.html" class="one">HOME</a>
                <a href="Menu.html" class="two">COFEE</a>
                <a href="Event.html" class="three">EVENTS</a>
                <a href="#" class="four">PROMO</a>
            </div>

            <a href="Register.html"><img src="/Asset/profile.jpg" class="profile" alt="image"></a>
        </div>
    </header>

    <p class="title">Our cofee</p>

    <p class="title2">Best seller</p>

    <a href="#" class="linklatte">
    <img src="/Asset/latte.jpg" class="latte" alt="image">
    <div class="box">
        <br>
        <p class="titlelatte">Latte - 25k</p>
        <p class="textlatte">Minuman klasik ini biasanya 1/3 espresso dan 2/3 susu kukus, dengan lapisan busa tipis di atasnya, tetapi kedai kopi telah menghadirkan penyesuaian yang tampaknya tak ada habisnya. Anda dapat bereksperimen dengan sirup beraroma seperti vanilla dan bumbu labu atau membuat versi nondairy dengan menggunakan susu oat. Barista yang terampil sering mengaduk buih menjadi seni latte!</p>
    </div></a>

    <div class="distance"></div>

    <center>
    <a href="#"><img src="/Asset/cappuccino.jpg" class="imgcofee" alt="image"></a>

    <a href="#"><img src="/Asset/americano.jpg" class="imgcofee" alt="image"></a>

    <a href="#"><img src="/Asset/macchiato.jpg" class="imgcofee" alt="image"></a>
    </center>

    <center>
        <a href="#"><img src="/Asset/cortado.jpg" class="imgcofee1" alt="image"></a>
    
        <a href="#"><img src="/Asset/espresso.jpg" class="imgcofee1" alt="image"></a>
    
        <a href="#"><img src="/Asset/irish.jpg" class="imgcofee1" alt="image"></a>
    </center>

    <center>
        <a href="#"><img src="/Asset/matcha.jpg" class="imgcofee1" alt="image"></a>
    
        <a href="#"><img src="/Asset/chocolate.jpg" class="imgcofee1" alt="image"></a>
    
        <a href="#"><img src="/Asset/mocha.jpg" class="imgcofee1" alt="image"></a>
    </center>


    <center>
        <a href="#"><img src="/Asset/DesignYourCoffee.jpg" class="DesignButton" alt="image"></a>
    </center>



    <div class="distance1"></div>

    <footer class="foot">
        <div class="foot2">
            <div class="footertext1">
                <a href="About.html" class="bottomlink">About Us</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Store Locations</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">News</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Carrers</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Privacy Policy</a>
            </div>

            <p class="copyright">© 2023 Coffee-19 Company, All Rights Reserved.</p>

            <img src="/Asset/logo.png" class="logo2" alt="image">
        </div>
    </footer>
    
</body>
</html>