<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/RegisterStyle.css">
    <title>Coffee-19: Register</title>
    <script src="/Script/RegisterValidation.js"></script>
</head>
<body>
    <header class="head">
        <div class="head2">
            <img src="/Asset/logo.png" class="logo" alt="image">

            <div class="navbar">
                <a href="/index.html" class="one">HOME</a>
                <a href="Menu.html" class="two">COFEE</a>
                <a href="Event.html" class="three">EVENTS</a>
                <a href="#" class="four">PROMO</a>
            </div>

            <a href="Register.html"><img src="/Asset/profile.jpg" class="profile" alt="image"></a>
        </div>
    </header>

    <img src="/Asset/joinbanner.jpg" class="banner" alt="image">
    <p class="title">Let's join us !</p>
    <p class="moretitle">be a member and get more</p>

    <div class="box"> 
        <p class="title2">Register</p>

        <form id="form" method="get" name="form">
        <p class="user">Username</p>
        <input class="userbox" placeholder=" William " type="text" name="name" id="name">
        <p class="user">Email</p>
        <input class="userbox" placeholder=" William @example.com" type="email" name="email" id="email">
        <p class="user">Password</p>
        <input class="userbox" placeholder=" *************************" type="password" name="password" id="password">
        <p class="user">Address</p>
        <input class="userbox" placeholder=" 23 Main Street, New York" type="text" name="address" id="address">

        <p class="agreement">User agreement</p>
        <input type="checkbox" class="check" name="checkbox" id="checkbox" placeholder="" title="checkbox">
        <p class="agreetext">By signing up, you agree to Photo’s Terms of Service and Privacy Policy</p>
        
        <button class="button" onclick="check()" type="submit" id="button">register</button>
        </form>
    </div>

    <div class="distance"></div>

    <footer class="foot">
        <div class="foot2">
            <div class="footertext1">
                <a href="About.html" class="bottomlink">About Us</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Store Locations</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">News</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Carrers</a>
            </div>
            <div class="footertext">
                <a href="#" class="bottomlink">Privacy Policy</a>
            </div>

            <p class="copyright">© 2023 Coffee-19 Company, All Rights Reserved.</p>

            <img src="/Asset/logo.png" class="logo2" alt="image">
        </div>
    </footer>
    
</body>
</html>